*{
    margin: 0;
    padding: 0;
}
.bg{
    background-image: url(../images/contactUsBanner.png);
}
.bg p{
    color:#0d6e6e;
}
.contactUsImg{
    width: 30em
}
.bg h2{
    font-size: 50px;
    font-family: roboto, arial, helvetica;
}